    </main>
    <footer>
      <div class="container">
        <p>&copy; 2025 Bambi Sleep Church. All rights reserved.</p>
        <div class="footer-links">
          <a href="https://bambisleep.info/" target="_blank">Official Wiki</a>
          <span>|</span>
          <a href="https://github.com/HarleyVader/js-bambisleep-church" target="_blank">GitHub</a>
        </div>
      </div>
    </footer>
    </body>

    </html>
