<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <p>&copy; 2025 Bambi Sleep Church. All rights reserved.</p>
            <div class="footer-links">
                <a href="https://bambisleep.info/" target="_blank">Bambi Sleep Wiki</a>
                <span>|</span>
                <a href="https://www.patreon.com/bambiprime" target="_blank">Support Bambi Prime</a>
                <span>|</span>
                <a href="https://github.com/HarleyVader/js-bambisleep-church" target="_blank">GitHub</a>
            </div>
        </div>
    </div>
</footer>
<script src="/socket.io/socket.io.js"></script>
